<div class="d-flex w-100 vh-100">
  <mat-card class="card-login">
    <form class="example-form" (ngSubmit)="login()" [formGroup]="loginForm">
      <mat-form-field class="w-100">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="userEmail"
               [ngClass]="{ 'is-invalid': submitted && form.userEmail.errors }" required>
        <mat-error *ngIf="submitted && form.userEmail.errors" class="">
          <di *ngIf="loginForm.controls.userEmail.errors.required">Email invalido</di>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="disableButtonAdd">ACCEDER</button>

    </form>

  </mat-card>
</div>
