<h2 class="mat-cell">Mis datos</h2>

<mat-divider></mat-divider>

<h2>Información personal</h2>
<table class="mb-4">
  <tbody>
  <tr>
    <td class="td-head">Nombre</td>
    <td class="td-body font-weight">{{dataUser?.name}}</td>
  </tr>

  <tr>
    <td class="td-head">Apellido paterno</td>
    <td class="td-body font-weight">{{dataUser?.first_surname}}</td>
  </tr>

  <tr>
    <td class="td-head">Apellido materno</td>
    <td class="td-body font-weight">{{dataUser?.last_surname}}</td>
  </tr>

  <tr>
    <td class="td-head">Correo electrónico</td>
    <td class="td-body font-weight">{{dataUser?.email}}</td>
  </tr>

  <tr>
    <td class="td-head">Permiso</td>
    <td class="td-body font-weight">{{dataUser?.role.name}}</td>
  </tr>
  </tbody>
</table>

<mat-divider></mat-divider>
<h2>Información laboral</h2>
<table>
  <tbody>
  <tr>
    <td class="td-head">Area</td>
    <td class="td-body font-weight">{{dataUser?.work_position.area}}</td>
  </tr>

  <tr>
    <td class="td-head">Puesto</td>
    <td class="td-body font-weight">{{dataUser?.work_position.name}}</td>
  </tr>

  <tr>
    <td class="td-head">Descripción del puesto</td>
    <td class="td-body font-weight">{{dataUser?.work_position.description}}</td>
  </tr>
  </tbody>
</table>
