<h2 mat-dialog-title>Agregar Usuario</h2>

<form class="example-form" (ngSubmit)="addUserForm()" [formGroup]="addUser">
  <mat-form-field class="w-100 mb-3">
    <mat-label>Nombre</mat-label>
    <input matInput type="text" formControlName="name"
           [ngClass]="{ 'is-invalid': submitted && form.name.errors }" required>
    <mat-error *ngIf="submitted && form.name.errors" class="">
      <span *ngIf="addUser.controls.name.errors?.required">Nombre requerido</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3">
    <mat-label>Apellido paterno</mat-label>
    <input matInput type="text" formControlName="first_surname"
           [ngClass]="{ 'is-invalid': submitted && form.first_surname.errors }" required>
    <mat-error *ngIf="submitted && form.first_surname.errors" class="">
      <span *ngIf="addUser.controls.first_surname.errors?.required">Apellido requerido</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3">
    <mat-label>Apellido materno</mat-label>
    <input matInput type="text" formControlName="last_surname"
           [ngClass]="{ 'is-invalid': submitted && form.last_surname.errors }" required>
    <mat-error *ngIf="submitted && form.last_surname.errors" class="">
      <span *ngIf="addUser.controls.last_surname.errors?.required">Apellido requerido</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3">
    <mat-label>Correo electronico</mat-label>
    <input matInput type="email" formControlName="email"
           [ngClass]="{ 'is-invalid': submitted && form.email.errors }" required>
    <mat-error *ngIf="submitted && form.email.errors" class="">
      <span *ngIf="addUser.controls.email.errors?.required">Correo electronico requerido</span>
      <span *ngIf="addUser.controls.email.errors?.email">Correo invalido</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3">
    <mat-label>Contraseña</mat-label>
    <input matInput type="password" formControlName="password"
           [ngClass]="{ 'is-invalid': submitted && form.password.errors }" required>
    <mat-error *ngIf="submitted && form.password.errors" class="">
      <span *ngIf="addUser.controls.password.errors?.required">Contraseña requerido</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3">
    <mat-label>Rol</mat-label>
    <mat-select formControlName="role_id"
                [ngClass]="{ 'is-invalid': submitted && form.role_id.errors }" required>
      <mat-option value="1">
        Administrador
      </mat-option>

      <mat-option value="2">
        Usuario
      </mat-option>
    </mat-select>
    <mat-error *ngIf="submitted && form.role_id.errors" >
      <span *ngIf="addUser.controls.role_id.errors?.required">Rol requerido</span>
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="disableButtonAdd">guardar</button>

</form>
