<mat-toolbar color="primary" class="fixed-top">
  <button mat-icon-button (click)="drawer.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>tabasco.gob.mx</span>
  <span class="nav-spacer"></span>

  <button mat-button [matMenuTriggerFor]="menu">{{dataUser.getUsers().name}}</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>{{dataUser.getUsers().role.name}}</button>
  </mat-menu>


  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="vh-100" >
  <mat-drawer #drawer class="pt-60 sidenav" mode="side" opened>
    <div class="menu">
      <ul>
<!--        <li [routerLink]="['roles']" [routerLinkActive]="['active']">
          <a>Roles</a>
        </li>-->

        <li [routerLink]="['myDate']" [routerLinkActive]="['active']">
          <mat-icon class="icon-menu">account_circle</mat-icon>
          <a>Mis datos</a>
        </li>

        <li [routerLink]="['works']" [routerLinkActive]="['active']">
          <mat-icon class="icon-menu">work</mat-icon>
          <a>Cargos</a>
        </li>

        <li [routerLink]="['users']" [routerLinkActive]="['active']">
          <mat-icon class="icon-menu">people</mat-icon>
          <a>Usuarios</a>
        </li>
      </ul>
    </div>
  </mat-drawer>

  <mat-drawer-content class="pt-60 vh-100">
    <div class="cont-area container">
      <mat-card>
      <router-outlet></router-outlet>
      </mat-card>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

