.cont-register {
  padding-top: 35px;
  padding-bottom: 35px;
}
.card-login {
  width: 45%;
  height: auto;
  margin: auto;
}
@media(max-width: 900px) {
  .card-login {
    width: 90%;
    height: auto;
  }
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.example-spacer {
  flex: 1 1 auto;
}
.register {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
